#nft-table{
    width:50vw;
    min-width: 1200px;
    height:60vh;
    margin:auto;
    overflow-y: auto;
    border: 10px solid gold;
}

#card-container{
    width:80vw;
    min-width: 1200px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body{
    display:flex;
    margin-top: 5em;
    margin-bottom: 1em;
    flex:1;
    height:60vh;
    border: 2px solid green;
    overflow: hidden;
}

.card{
    display: flex;
    border: 2px solid orange;
    height:100%;
    min-width: 30vw;
    margin:auto;
}

/* Division of the card */
.top-card{
    display:flex;
    height:10%;
    border: 1px solid blue;
    flex-shrink: 0;
}

.middle-card{
    height:40%;
    display:flex;
    flex-direction: row;
    border: 10px solid green;
    flex-shrink: 0;
}

.bottom-card{
    height:50%;
    border: 1px solid gold;
    flex-shrink: 0;
}
/*  */

/* Top of the card */
#card-title{
    align-self: center;
    margin-left: 0.5em;
    font-size: 1.5em;
}
.card-search{
    flex:1;
    text-align: end;
    align-self: center;
    margin-right: 1em;
    font-size: 1.5em;
}

/* Middle of the card */

.cardPicture{
    border: 1px solid black;
    height:75%;
    width:auto;
    margin: auto;
}
.cardPicture > img {
    height:100%;
    margin: auto;
}