

.chart {
    height: 100%;
    width: 100%;
    margin-right: 10%;
    margin-left: auto;
}




/* Defining both section */
#both-section{
    display:flex;
    flex-direction: row;
    width: 200vw;
}

#left-section{
    display:flex;
    flex: 1;
    
}


#right-section{
    flex: 1;
    z-index: -1;
    transform: translateX(-40%);

}
/*  */


#quote-button > img {
    max-width: 20%;
    width: 20%;
    max-height: 100%;
    vertical-align:top;

} /*Credits to https://thenounproject.com/eucalyp/ */
#graph-button {
    position: relative;
    top: 50%;
}


.mainSubRoute{
    flex:2;
    display:flex;
    flex-direction: row;
}
.eachRoute{
    flex:1
}

#router-content{
    display:flex;
    flex-direction: column;
    flex:9;
}

#show-price {
    flex:1;
    width:100%;
}

#show-routes{
    flex:4;
    display:flex;
    flex-direction: column;
    width:100%

}

#main-body {
    display: flex;
    width:100%;
}

#left-body {
    flex: 3;
    height: 90vh;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease-in-out;
    
}

#right-body {
    flex: 2;
    background-color: white;
    height: 90vh;
    
}




/*  Right section */


#router {
    display: flex;

}

#router-body {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex: 3;
    background-color: lightgray;
    min-height: 90.5vh;
    z-index: -1;
    transition: transform 0.4s ease-in-out;
    height:auto;
    /* overflow: hidden; */
}




#placeholder-body {
    display: flex;
    flex: 2;
    min-width: px;
    resize: none;
    background-color: white;
    z-index: -1;
}
#sync-chart{
    display:none
}

#ipad-more-details{
    display: none;       
}
#ipad-show-route{
    display: none;
}

#show-price > tr >td  > img {
    max-width: 4vh;
    border-radius: 20%;
    margin-top: 1em;
    vertical-align:top;
}

.table{
    display:none
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body{
        overflow-y: auto;
    }
    #both-section{
        display:flex;
        flex-direction: row;
        width: 300vw;
    }
    
    #left-section{
        display:flex;
        flex: 2; 
    }
    
    #right-section{
        flex: 1;
        z-index: -1;
        transform: translateX(-40%);
    }
    #left-body {
        flex: 1;
    }
    
    #right-body {
        flex: 1;
        z-index: 10;
        background-color: white;
        height: 45vh;
        transform: translateX(-100%)
    }
    .dropdown{
        z-index: 2;
    }
    #sell-chart{
        display: none;
    }
    #sync-chart{
        display: block;
        z-index: 1;
        height:100%;
        border: 1px solid black;
    }

    #swap-box-left{
        z-index: 100;
    }

    #swap-button{
        position:relative;
        bottom:3.5em;
        display:block;
    }
    .graph-desktop{
        display:none;
    }
    .graph-ipad{
        font-size: 1em;
        height:1m
    }
    body{
        overflow: auto;
    }
    #ipad-show-route{
        display: block;
        height:50vh;
        padding-top:3em;
        transition: 0.4s ease-in-out;
        background-color: aqua;
    }
    #ipad-show-route > p > img {
        max-height: 5vh;
        vertical-align:top;
    }
    #ipad-more-details{
        display: inline-block;
    }
    body{
        overflow: hidden;
    }
}
@media screen and (min-width: 1200px) {
    .graph-ipad{
        display:none;
    } 
    body{
        overflow: scroll;
    }
    .display-price-routes{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .table{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #table-container{
        margin-left:auto; 
        margin-right:auto;
        margin-top: 2em;
    }
}

