

.chart {
    height: 100%;
    width: 100%;
    margin-right: 10%;
    margin-left: auto;
}


body{
    /* overflow-x:hidden; */
    background-color: #ffff00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ff8000'/%3E%3Cstop offset='1' stop-color='%23ff8000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2300ff19'/%3E%3Cstop offset='1' stop-color='%2300ff19' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%239900ff'/%3E%3Cstop offset='1' stop-color='%239900ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffff00'/%3E%3Cstop offset='1' stop-color='%23ffff00' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF0000'/%3E%3Cstop offset='1' stop-color='%23FF0000' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230CF'/%3E%3Cstop offset='1' stop-color='%230CF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* Credits to  https://www.svgbackgrounds.com/*/
}

/* Defining both section */
#both-section{
    display:flex;
    flex-direction: row;
    width: 200vw;
}

#left-section{
    display:flex;
    flex: 1;
    
}


#right-section{
    flex: 1;
    z-index: -1;
    transform: translateX(-40%);

}
/*  */



#graph-button {
    position: relative;
    top: 50%;
}


.mainSubRoute{
    flex:2;
    display:flex;
    flex-direction: row;
}
.eachRoute{
    flex:1
}

#router-content{
    display:flex;
    flex-direction: column;
    flex:9;
}

#show-price {
    flex:1;
    width:100%;
}

#show-routes{
    flex:4;
    display:flex;
    flex-direction: column;
    width:100%

}

#main-body {
    display: flex;
    width:100%;
}

#left-body {
    flex: 3;
    background-color: gold;
    height: 90vh;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease-in-out;
    
}

#right-body {
    flex: 2;
    background-color: white;
    height: 90vh;
    
}




/*  Right section */


#router {
    display: flex;

}

#router-body {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex: 3;
    background-color: lightgray;
    height: 90.5vh;
    z-index: -1;
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
}



#placeholder-body {
    display: flex;
    flex: 2;
    min-width: px;
    resize: none;
    background-color: white;
    z-index: -1;
}

@media only screen and (max-width:576px) {
    /* #left-body {
        display:none;
    } */
    #logo{
        display:none;
    }
}


@media screen and (min-width: 0px) {

    
    
}

/* css rules for large phones from 576 to 768px (sm) */
@media screen and (min-width: 576px) {
    #search-box{
        min-width: none;
    }
    /* css rules for large phones from 576 to 768px (sm) */
}
@media screen and (min-width: 768px) {
    /* css rules for tablets from 768 to 992px (md) */
}
@media screen and (min-width: 992px) {
    /* css rules for laptops from 992 to 1200px (lg) */
}
@media screen and (min-width: 1200px) {
    /* css rules for large screens from 1200 onwards (xl) */
}