

.chart {
    height: 100%;
    width: 100%;
    border: 1px solid blue;
    margin-right: 10%;
    margin-left: auto;
}


body{
    overflow-x:hidden;
}

/* Defining both section */
#both-section{
    display:flex;
    flex-direction: row;
    width: 200vw;
}

#left-section{
    display:flex;
    flex: 1;
    border: 5px solid pink;
    
}


#right-section{
    border:5px solid aqua;
    flex: 1;
    z-index: -1;
    transform: translateX(-40%);

}
/*  */



#graph-button {
    position: relative;
    top: 50%;
}


.mainSubRoute{
    flex:2;
    display:flex;
    flex-direction: row;
}
.eachRoute{
    flex:1
}

#router-content{
    display:flex;
    flex-direction: column;
    flex:9;
}

#show-price {
    flex:1;
    border:5px solid blue;
    width:100%;
}

#show-routes{
    flex:4;
    display:flex;
    flex-direction: column;
    border:10px solid blue;
    width:100%

}

#main-body {
    display: flex;
    width:100%;
}

#left-body {
    flex: 3;
    border: 10px solid green;
    background-color: gold;
    height: 90vh;
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease-in-out;
    
}

#right-body {
    flex: 2;
    border: 10px solid aqua;
    background-color: purple;
    height: 90vh;
    
}




/*  Right section */


#router {
    display: flex;

}

#router-body {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    flex: 3;
    background-color: lightgray;
    height: 90.5vh;
    z-index: -1;
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
}



#placeholder-body {
    display: flex;
    flex: 2;
    min-width: 576px;
    resize: none;
    background-color: green;
    z-index: -1;
}

@media only screen and (max-width:1500px) {
    /* #left-body {
        transform: translateX(-100%);
        transition: transform 0.25s ease-in-out;
    } */
}

