#search-box {
    min-width: 540px;
    max-width: 80%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 3%;
    resize: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


#swap-button{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

#sell-amount{
    width:100%;height:100%; font-size:3em;
}

.swap-box {
    display: flex;
    flex-direction: column;
    background-color: gold;
    height: 20%;
}

.swap-box-top {
    flex: 1;
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.swap-box-btm {
    flex: 4;
    background-color: green;
    width: 90%;
    height: 5em;
    margin: 0 auto;
    border-radius: 1em;
    display: flex;
}

.swap-box-left {
    flex: 1;

}

.swap-box-right {
    flex: 3;

}
#mobile-show-route{
    display:none;
}
@media screen and (min-width: 0px) and (max-width: 576px) {
    body{
        overflow:hidden ;
    }
    #search-box{
        min-width: inherit;
        margin:0 auto;
        max-width:100%;
    }
    #both-section{
        width:400vw;
    }
    #left-section {
        flex:1;
        transform:translateX(-50%)
    }
    #right-section {
        flex:1;
        display:hidden;
    }
    #left-body{
        transform: translateX(0%);
        flex:1
    }
    #right-body{
        flex:1
    }
    #mobile-show-route{
        display:block;
        border: 1px solid black;
        width: 80vw;
        margin-left: auto;
        margin-right:auto;
        height:20vh;
    }
    #graph-button-id{
        display:none;
    }
    #quote-button{
        width:70%;
    }
    body {
        overflow-y: hidden;
        background-color: white;
    }
    /* css rules for large phones from 576 to 768px (sm) */
}
